body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #FF7E5F, #FEB47B); 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #ffffff; 
    min-height: 400px;
    width: 540px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333; 
}

input[type="text"] {
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc; 
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
}

.delete-btn {
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333; 
}
